@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
@import "./variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition-duration: 250ms;
  // outline: 1px solid red;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter;
  // color: $mainFontColor;
  // background-color: $backgroundcolor;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
main {
  flex: 1;
  width: 100%;
}
section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 16px;

  @media (min-width: $tablet) {
    padding: 40px 40px;
  }
  @media (min-width: $desktop) {
    padding: 60px 106px;
  }
}

.container {
  width: 100%;
  // margin: 40px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  @media (min-width: $tablet) {
    // margin: 72px 40px;
    gap: 32px;
  }
  @media (min-width: $desktop) {
    // margin: 130px 106px;
    max-width: 1920px;
  }
}

.button {
  background-color: $btnColor;

  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  width: 174px;
  height: 52px;
  border-radius: 10px;
  border: none;
  cursor: pointer;

  &:focus,
  &:hover {
    color: $btnColor;
    border: 1px solid $btnColor;
    background-color: transparent;
    scale: 0.95;
  }
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
  cursor: pointer;

  &:focus,
  &:hover {
    color: $btnColor;
  }
}

ul {
  list-style: none;
}
h2 {
  color: $mainFontColor;
  font-size: clamp(36px, 4vw, 48px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
